/* Container positioned in the bottom right corner */
:root {
  --green: #49a049;
  --greenhover: #96ccba;
  --strongpink: #cd2ca0;
  --darkpurple: #7f5f87;
  --background: rgba(243, 236, 236, 0.9);
  --evenBackground: rgba(214, 210, 210, 0.2);
  --oddBackground: rgb(183, 187, 184, 0.3);
}

.hf-chat-container {
  position: fixed;
  bottom: 12%;
  right: 5px;
  z-index: 9999;
  font-family: sans-serif;
  border-radius: 16px;
  overflow: hidden;
}

/* Chatbox window styling */
.hf-chat-window {
  width: 400px;
  height: 600px;
  background-color: var(--background);
  border-radius: 12px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 15px;
}
.chattitle {
  color: white;
}
/* Header bar above the iframe */
.hf-chat-header {
  background-color: var(--darkpurple); /* Dark theme snippet */
  color: white;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hf-chat-header h3 {
  margin: 0;
  font-size: 16px;
}

.hf-close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* Floating Action Button */
.hf-toggle-btn {
  background-color: var(--strongpink); /* Royal blue example button */
  color: white;
  border: none;
  padding: 14px 22px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(37, 99, 235, 0.3);
  transition: transform 0.2s ease;
  float: right;
}

.hf-toggle-btn:hover {
  transform: scale(1.05);
}
@media (max-width: 640px) {
  #ai-chat-widget {
    right: 16px;
    bottom: 10%;
  }
  .hf-chat-container {
    bottom: 2%;
  }
  .hf-chat-window {
    position: fixed;
    width: 80%;
    height: 80%;
    bottom: 10%;
    left: 10%;
  }

  #ai-chat-panel {
    position: fixed;
    right: 12px;
    bottom: 76px;
    width: calc(100vw - 24px);
    height: calc(100vh - 104px);
  }
}
